.skills{
    width: 900px;
}

.skills .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 800px; */
    margin: auto;
    /* background-color: lime; */
}

.skills .items .item{
    background-color: black;
    margin: 20px;
    width: calc(33.33%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid lime;
    box-shadow: var(--box-shadow);
}

.skills .items .item img{
    width: 70px;

}

